In [4]:
import pandas as pd

In [5]:
df = pd.read_csv('data/new_movies.csv')
ratings = pd.read_csv('data/ratings.csv')
df.info()

<class 'pandas.core.frame.DataFrame'>
RangeIndex: 9742 entries, 0 to 9741
Data columns (total 28 columns):
 #   Column                 Non-Null Count  Dtype
---  ------                 --------------  -----
 0   movieId                9742 non-null   int64
 1   tmdbId                 9734 non-null   float64
 2   adult                  9623 non-null   object
 3   backdrop_path          9513 non-null   object
 4   belongs_to_collection  2068 non-null   object
 5   budget                 9623 non-null   float64
 6   genres                 9623 non-null   object
 7   homepage               2639 non-null   object
 8   id                     9623 non-null   float64
 9   imdb_id                9622 non-null   object
 10  origin_country         9623 non-null   object
 11  original_language      9623 non-null   object
 12  original_title         9623 non-null   object
 13  overview               9621 non-null   object
 14  popularity             9623 non-null   float64
 15  poster_path            9618 non-null   object
 16  production_companies   9623 non-null   object
 17  production_countries   9623 non-null   object
 18  release_date           9623 non-null   object
 19  revenue                9623 non-null   float64
 20  runtime                9623 non-null   float64
 21  spoken_languages       9623 non-null   object
 22  status                 9623 non-null   object
 23  tagline                8302 non-null   object
 24  title                  9623 non-null   object
 25  video                  9623 non-null   object
 26  vote_average           9623 non-null   float64
 27  vote_count             9623 non-null   float64
dtypes: float64(8), int64(1), object(19)
memory usage: 2.1+ MB

In [6]:
ratings['userId'].unique()

array([  1,   2,   3,   4,   5,   6,   7,   8,   9,  10,  11,  12,  13,
        14,  15,  16,  17,  18,  19,  20,  21,  22,  23,  24,  25,  26,
        27,  28,  29,  30,  31,  32,  33,  34,  35,  36,  37,  38,  39,
        40,  41,  42,  43,  44,  45,  46,  47,  48,  49,  50,  51,  52,
        53,  54,  55,  56,  57,  58,  59,  60,  61,  62,  63,  64,  65,
        66,  67,  68,  69,  70,  71,  72,  73,  74,  75,  76,  77,  78,
        79,  80,  81,  82,  83,  84,  85,  86,  87,  88,  89,  90,  91,
        92,  93,  94,  95,  96,  97,  98,  99, 100, 101, 102, 103, 104,
       105, 106, 107, 108, 109, 110, 111, 112, 113, 114, 115, 116, 117,
       118, 119, 120, 121, 122, 123, 124, 125, 126, 127, 128, 129, 130,
       131, 132, 133, 134, 135, 136, 137, 138, 139, 140, 141, 142, 143,
       144, 145, 146, 147, 148, 149, 150, 151, 152, 153, 154, 155, 156,
       157, 158, 159, 160, 161, 162, 163, 164, 165, 166, 167, 168, 169,
       170, 171, 172, 173, 174, 175, 176, 177, 178, 179, 180, 181, 182,
       183, 184, 185, 186, 187, 188, 189, 190, 191, 192, 193, 194, 195,
       196, 197, 198, 199, 200, 201, 202, 203, 204, 205, 206, 207, 208,
       209, 210, 211, 212, 213, 214, 215, 216, 217, 218, 219, 220, 221,
       222, 223, 224, 225, 226, 227, 228, 229, 230, 231, 232, 233, 234,
       235, 236, 237, 238, 239, 240, 241, 242, 243, 244, 245, 246, 247,
       248, 249, 250, 251, 252, 253, 254, 255, 256, 257, 258, 259, 260,
       261, 262, 263, 264, 265, 266, 267, 268, 269, 270, 271, 272, 273,
       274, 275, 276, 277, 278, 279, 280, 281, 282, 283, 284, 285, 286,
       287, 288, 289, 290, 291, 292, 293, 294, 295, 296, 297, 298, 299,
       300, 301, 302, 303, 304, 305, 306, 307, 308, 309, 310, 311, 312,
       313, 314, 315, 316, 317, 318, 319, 320, 321, 322, 323, 324, 325,
       326, 327, 328, 329, 330, 331, 332, 333, 334, 335, 336, 337, 338,
       339, 340, 341, 342, 343, 344, 345, 346, 347, 348, 349, 350, 351,
       352, 353, 354, 355, 356, 357, 358, 359, 360, 361, 362, 363, 364,
       365, 366, 367, 368, 369, 370, 371, 372, 373, 374, 375, 376, 377,
       378, 379, 380, 381, 382, 383, 384, 385, 386, 387, 388, 389, 390,
       391, 392, 393, 394, 395, 396, 397, 398, 399, 400, 401, 402, 403,
       404, 405, 406, 407, 408, 409, 410, 411, 412, 413, 414, 415, 416,
       417, 418, 419, 420, 421, 422, 423, 424, 425, 426, 427, 428, 429,
       430, 431, 432, 433, 434, 435, 436, 437, 438, 439, 440, 441, 442,
       443, 444, 445, 446, 447, 448, 449, 450, 451, 452, 453, 454, 455,
       456, 457, 458, 459, 460, 461, 462, 463, 464, 465, 466, 467, 468,
       469, 470, 471, 472, 473, 474, 475, 476, 477, 478, 479, 480, 481,
       482, 483, 484, 485, 486, 487, 488, 489, 490, 491, 492, 493, 494,
       495, 496, 497, 498, 499, 500, 501, 502, 503, 504, 505, 506, 507,
       508, 509, 510, 511, 512, 513, 514, 515, 516, 517, 518, 519, 520,
       521, 522, 523, 524, 525, 526, 527, 528, 529, 530, 531, 532, 533,
       534, 535, 536, 537, 538, 539, 540, 541, 542, 543, 544, 545, 546,
       547, 548, 549, 550, 551, 552, 553, 554, 555, 556, 557, 558, 559,
       560, 561, 562, 563, 564, 565, 566, 567, 568, 569, 570, 571, 572,
       573, 574, 575, 576, 577, 578, 579, 580, 581, 582, 583, 584, 585,
       586, 587, 588, 589, 590, 591, 592, 593, 594, 595, 596, 597, 598,
       599, 600, 601, 602, 603, 604, 605, 606, 607, 608, 609, 610],
      dtype=int64)

In [7]:
ratings.info()

<class 'pandas.core.frame.DataFrame'>
RangeIndex: 100836 entries, 0 to 100835
Data columns (total 4 columns):
 #   Column     Non-Null Count   Dtype
---  ------     --------------   -----
 0   userId     100836 non-null  int64
 1   movieId    100836 non-null  int64
 2   rating     100836 non-null  float64
 3   timestamp  100836 non-null  int64
dtypes: float64(1), int64(3)
memory usage: 3.1 MB

In [9]:
ratings['rating'].unique()

array([4. , 5. , 3. , 2. , 1. , 4.5, 3.5, 2.5, 0.5, 1.5])

In [11]:
import pandas as pd

# Example: if you already have a df with these columns
# df = pd.DataFrame({'userId': [...], 'movieId': [...], 'rating': [...]})

# Step 1: Rescale ratings from [1, 5] → [1, 10]
ratings['rescaled_rating'] = ratings['rating'] * 2

# Step 2: Group by userId and compute aggregates
user_stats = ratings.groupby('userId').agg(
    num_rated_movies=('movieId', 'count'),
    avg_rating_given=('rescaled_rating', 'mean')
).reset_index()

user_stats.head()

   userId  num_rated_movies  avg_rating_given
0       1               232          8.732759
1       2                29          7.896552
2       3                39          4.871795
3       4               216          7.111111
4       5                44          7.272727

In [12]:
user_stats.to_csv('user_metadata.csv', index=False)

In [14]:
l = ratings['movieId'].unique()

In [16]:
l = list(l)
len(l)

9724

In [26]:
links = pd.read_csv('data/new_movies.csv')
l2 = list(links['movieId'].unique())

In [27]:
len(l),len(l2)

(9724, 9742)

In [28]:
[x for x in l if x not in l2]

[]

In [29]:
l2.sort()
l2[::-1]

[193609,
 193587,
 193585,
 193583,
 193581,
 193579,
 193573,
 193571,
 193567,
 193565,
 191005,
 190221,
 190219,
 190215,
 190213,
 190209,
 190207,
 190183,
 189713,
 189547,
 189381,
 189333,
 189111,
 189043,
 188833,
 188797,
 188751,
 188675,
 188301,
 188189,
 187717,
 187595,
 187593,
 187541,
 187031,
 186587,
 185585,
 185473,
 185435,
 185135,
 185033,
 185031,
 185029,
 184997,
 184987,
 184931,
 184791,
 184721,
 184641,
 184471,
 184349,
 184257,
 184253,
 184245,
 184053,
 184015,
 183959,
 183911,
 183897,
 183635,
 183611,
 183317,
 183301,
 183295,
 183227,
 183199,
 183197,
 183011,
 182823,
 182793,
 182749,
 182731,
 182727,
 182715,
 182639,
 182299,
 182297,
 182293,
 181719,
 181659,
 181413,
 181315,
 181139,
 181065,
 180987,
 180985,
 180777,
 180497,
 180297,
 180265,
 180263,
 180231,
 180095,
 180045,
 180031,
 179953,
 179819,
 179817,
 179815,
 179813,
 179749,
 179709,
 179511,
 179491,
 179427,
 179401,
 179211,
 179135,
 179133,
 179119,
 179073,
 179053,
 178827,
 178615,
 178613,
 178323,
 178129,
 178111,
 178061,
 177939,
 177765,
 177763,
 177615,
 177593,
 177285,
 177185,
 176935,
 176805,
 176751,
 176621,
 176601,
 176579,
 176423,
 176419,
 176415,
 176413,
 176389,
 176371,
 176329,
 176101,
 176051,
 175781,
 175743,
 175707,
 175705,
 175693,
 175661,
 175585,
 175577,
 175569,
 175485,
 175475,
 175435,
 175431,
 175401,
 175397,
 175387,
 175303,
 175293,
 175199,
 175197,
 174909,
 174815,
 174737,
 174727,
 174681,
 174551,
 174479,
 174403,
 174141,
 174055,
 174053,
 174045,
 173963,
 173941,
 173925,
 173873,
 173751,
 173619,
 173535,
 173355,
 173351,
 173317,
 173307,
 173291,
 173255,
 173253,
 173235,
 173209,
 173205,
 173197,
 173145,
 172909,
 172887,
 172881,
 172875,
 172825,
 172793,
 172705,
 172637,
 172591,
 172589,
 172587,
 172585,
 172583,
 172577,
 172547,
 172497,
 172461,
 172321,
 172253,
 172233,
 172229,
 172215,
 172013,
 171917,
 171891,
 171867,
 171811,
 171765,
 171763,
 171759,
 171751,
 171749,
 171701,
 171695,
 171631,
 171495,
 171251,
 171023,
 171011,
 170993,
 170957,
 170945,
 170939,
 170937,
 170907,
 170897,
 170875,
 170837,
 170827,
 170817,
 170813,
 170777,
 170705,
 170697,
 170597,
 170551,
 170411,
 170401,
 170399,
 170357,
 170355,
 170297,
 170289,
 169992,
 169984,
 169982,
 169958,
 169912,
 169904,
 169670,
 169180,
 169034,
 168846,
 168712,
 168632,
 168612,
 168608,
 168492,
 168456,
 168418,
 168366,
 168358,
 168350,
 168326,
 168266,
 168254,
 168252,
 168250,
 168248,
 168218,
 168174,
 168144,
 168090,
 168026,
 167854,
 167790,
 167772,
 167746,
 167732,
 167706,
 167634,
 167570,
 167538,
 167380,
 167370,
 167296,
 167064,
 167036,
 167018,
 166946,
 166705,
 166643,
 166635,
 166568,
 166558,
 166534,
 166528,
 166526,
 166492,
 166461,
 166291,
 166203,
 166183,
 166024,
 166015,
 165969,
 165959,
 165947,
 165843,
 165671,
 165645,
 165639,
 165635,
 165551,
 165549,
 165529,
 165489,
 165483,
 165347,
 165343,
 165139,
 165103,
 165101,
 165075,
 164917,
 164909,
 164881,
 164753,
 164707,
 164655,
 164647,
 164540,
 164375,
 164367,
 164280,
 164226,
 164200,
 164179,
 163985,
 163981,
 163937,
 163925,
 163809,
 163653,
 163645,
 163639,
 163527,
 163386,
 163134,
 163112,
 163072,
 163056,
 162982,
 162968,
 162828,
 162606,
 162602,
 162600,
 162598,
 162590,
 162578,
 162478,
 162414,
 162350,
 162344,
 162082,
 161966,
 161922,
 161918,
 161830,
 161634,
 161594,
 161582,
 161580,
 161354,
 161290,
 161131,
 161127,
 161044,
 161032,
 161024,
 161008,
 160980,
 160978,
 160954,
 160872,
 160848,
 160836,
 160730,
 160718,
 160684,
 160646,
 160644,
 160573,
 160571,
 160569,
 160567,
 160565,
 160563,
 160527,
 160440,
 160438,
 160422,
 160400,
 160341,
 160289,
 160271,
 160080,
 159976,
 159858,
 159849,
 159817,
 159811,
 159779,
 159755,
 159717,
 159690,
 159510,
 159441,
 159415,
 159403,
 159193,
 159161,
 159093,
 159077,
 159069,
 159061,
 158972,
 158966,
 158956,
 158882,
 158874,
 158872,
 158842,
 158830,
 158813,
 158783,
 158721,
 158528,
 158402,
 158398,
 158388,
 158254,
 158238,
 158035,
 158027,
 158022,
 157865,
 157775,
 157699,
 157432,
 157407,
 157369,
 157340,
 157312,
 157296,
 157270,
 157200,
 157172,
 157130,
 157122,
 157110,
 157108,
 156783,
 156781,
 156726,
 156706,
 156675,
 156609,
 156607,
 156605,
 156553,
 156387,
 156371,
 156025,
 155892,
 155820,
 155812,
 155774,
 155743,
 155659,
 155589,
 155509,
 155358,
 155288,
 155168,
 155064,
 154975,
 154358,
 154065,
 153408,
 153386,
 153236,
 153070,
 152970,
 152711,
 152658,
 152591,
 152372,
 152284,
 152270,
 152173,
 152105,
 152091,
 152085,
 152083,
 152081,
 152079,
 152077,
 152071,
 152065,
 152063,
 152037,
 151781,
 151777,
 151769,
 151763,
 151759,
 151745,
 151739,
 151695,
 151687,
 151653,
 151559,
 151557,
 151501,
 151479,
 151455,
 151317,
 151315,
 151311,
 150993,
 150696,
 150604,
 150596,
 150554,
 150548,
 150401,
 150254,
 149902,
 149830,
 149612,
 149590,
 149566,
 149508,
 149406,
 149380,
 149354,
 149352,
 149350,
 149334,
 149330,
 149146,
 149144,
 149011,
 148982,
 148978,
 148956,
 148888,
 148881,
 148775,
 148709,
 148675,
 148671,
 148667,
 148652,
 148632,
 148626,
 148592,
 148482,
 148424,
 148238,
 148172,
 148166,
 147936,
 147662,
 147657,
 147410,
 147384,
 147382,
 147380,
 147378,
 147376,
 147374,
 147372,
 147330,
 147328,
 147326,
 147300,
 147286,
 147282,
 147250,
 147196,
 147142,
 147002,
 146986,
 146730,
 146688,
 146684,
 146682,
 146662,
 146656,
 146309,
 146244,
 146210,
 146028,
 146024,
 145994,
 145951,
 145935,
 145839,
 145745,
 145724,
 145491,
 145418,
 145283,
 145150,
 145080,
 144976,
 144734,
 144716,
 144714,
 144620,
 144606,
 144522,
 144478,
 144352,
 144262,
 144222,
 144210,
 143969,
 143896,
 143859,
 143559,
 143525,
 143511,
 143472,
 143458,
 143410,
 143385,
 143367,
 143365,
 143355,
 143257,
 143255,
 143245,
 143031,
 143001,
 142997,
 142961,
 142831,
 142602,
 142598,
 142558,
 142550,
 142536,
 142509,
 142507,
 142488,
 142456,
 142448,
 142444,
 142424,
 142422,
 142420,
 142372,
 142366,
 142222,
 142196,
 142115,
 142074,
 142056,
 142020,
 141994,
 141928,
 141890,
 141866,
 141846,
 141844,
 141836,
 141830,
 141820,
 141818,
 141816,
 141810,
 141799,
 141749,
 141718,
 141688,
 141668,
 141646,
 141544,
 141513,
 141422,
 141408,
 141400,
 141131,
 141004,
 140956,
 140928,
 140852,
 140850,
 140816,
 140737,
 140725,
 140715,
 140711,
 140627,
 140561,
 140541,
 140525,
 140523,
 140481,
 140359,
 140301,
 140289,
 140267,
 140265,
 140247,
 140237,
 140174,
 140162,
 140133,
 140110,
 140038,
 140016,
 139994,
 139915,
 139859,
 139857,
 139855,
 139747,
 139717,
 139655,
 139644,
 139642,
 139640,
 139511,
 139415,
 139385,
 139157,
 139130,
 139052,
 138966,
 138835,
 138798,
 138702,
 138632,
 138610,
 138546,
 138396,
 138210,
 138208,
 138204,
 138186,
 138036,
 137863,
 137859,
 137857,
 137595,
 137517,
 137345,
 137337,
 137218,
 136958,
 136912,
 136864,
 136859,
 136850,
 136840,
 136838,
 136834,
 136816,
 136800,
 136786,
 136778,
 136666,
 136664,
 136654,
 136602,
 136598,
 136564,
 136562,
 136556,
 136540,
 136511,
 136503,
 136471,
 136469,
 136449,
 136447,
 136445,
 136443,
 136359,
 136355,
 136353,
 136341,
 136305,
 136297,
 136024,
 136020,
 136018,
 136016,
 136012,
 135937,
 135887,
 135885,
 135861,
 135815,
 135803,
 135787,
 135777,
 135569,
 135567,
 135536,
 135534,
 135532,
 135518,
 135456,
 135436,
 135288,
 135216,
 135198,
 135143,
 135137,
 135133,
 134881,
 134861,
 134859,
 134853,
 134849,
 134847,
 134808,
 134796,
 134783,
 134775,
 134528,
 134524,
 134515,
 134393,
 134368,
 134334,
 134326,
 134252,
 134248,
 134246,
 134214,
 134184,
 134170,
 134158,
 134130,
 134109,
 134095,
 134041,
 134021,
 134019,
 134004,
 133879,
 133867,
 133832,
 133802,
 133798,
 133782,
 133780,
 133771,
 133716,
 133712,
 133645,
 133545,
 133419,
 133377,
 133365,
 133281,
 133217,
 133195,
 133115,
 132888,
 132800,
 132796,
 132660,
 132618,
 132584,
 132496,
 132488,
 132462,
 132454,
 132424,
 132422,
 132362,
 132335,
 132333,
 132157,
 132153,
 132084,
 132046,
 131934,
 131920,
 131826,
 131796,
 131749,
 131739,
 131724,
 131714,
 131656,
 131610,
 131578,
 131480,
 131439,
 131237,
 131130,
 131104,
 131098,
 131023,
 131013,
 130978,
 130976,
 130970,
 130842,
 130840,
 130686,
 130634,
 130578,
 130576,
 130520,
 130518,
 130498,
 130490,
 130482,
 130452,
 130450,
 130444,
 130087,
 130083,
 130073,
 130052,
 130050,
 129937,
 129779,
 129737,
 129659,
 129657,
 129514,
 129428,
 129397,
 129354,
 129333,
 129313,
 129250,
 129229,
 129011,
 128991,
 128975,
 128968,
 128944,
 128914,
 128908,
 128902,
 128900,
 128852,
 128842,
 128838,
 128832,
 128736,
 128695,
 128620,
 128594,
 128592,
 128542,
 128520,
 128512,
 128488,
 128366,
 128360,
 128197,
 128099,
 128097,
 128089,
 128087,
 127390,
 127323,
 127319,
 127298,
 127212,
 127204,
 127202,
 127198,
 127194,
 127184,
 ...]

In [24]:
l.sort()
l[::-1]

[193609,
 193587,
 193585,
 193583,
 193581,
 193579,
 193573,
 193571,
 193567,
 193565,
 191005,
 190221,
 190219,
 190215,
 190213,
 190209,
 190207,
 190183,
 189713,
 189547,
 189381,
 189333,
 189111,
 189043,
 188833,
 188797,
 188751,
 188675,
 188301,
 188189,
 187717,
 187595,
 187593,
 187541,
 187031,
 186587,
 185585,
 185473,
 185435,
 185135,
 185033,
 185031,
 185029,
 184997,
 184987,
 184931,
 184791,
 184721,
 184641,
 184471,
 184349,
 184257,
 184253,
 184245,
 184053,
 184015,
 183959,
 183911,
 183897,
 183635,
 183611,
 183317,
 183301,
 183295,
 183227,
 183199,
 183197,
 183011,
 182823,
 182793,
 182749,
 182731,
 182727,
 182715,
 182639,
 182299,
 182297,
 182293,
 181719,
 181659,
 181413,
 181315,
 181139,
 181065,
 180987,
 180985,
 180777,
 180497,
 180297,
 180265,
 180263,
 180231,
 180095,
 180045,
 180031,
 179953,
 179819,
 179817,
 179815,
 179813,
 179749,
 179709,
 179511,
 179491,
 179427,
 179401,
 179211,
 179135,
 179133,
 179119,
 179073,
 179053,
 178827,
 178615,
 178613,
 178323,
 178129,
 178111,
 178061,
 177939,
 177765,
 177763,
 177615,
 177593,
 177285,
 177185,
 176935,
 176805,
 176751,
 176621,
 176601,
 176579,
 176423,
 176419,
 176415,
 176413,
 176389,
 176371,
 176329,
 176101,
 176051,
 175781,
 175743,
 175707,
 175705,
 175693,
 175661,
 175585,
 175577,
 175569,
 175485,
 175475,
 175435,
 175431,
 175401,
 175397,
 175387,
 175303,
 175293,
 175199,
 175197,
 174909,
 174815,
 174737,
 174727,
 174681,
 174551,
 174479,
 174403,
 174141,
 174055,
 174053,
 174045,
 173963,
 173941,
 173925,
 173873,
 173751,
 173619,
 173535,
 173355,
 173351,
 173317,
 173307,
 173291,
 173255,
 173253,
 173235,
 173209,
 173205,
 173197,
 173145,
 172909,
 172887,
 172881,
 172875,
 172825,
 172793,
 172705,
 172637,
 172591,
 172589,
 172587,
 172585,
 172583,
 172577,
 172547,
 172497,
 172461,
 172321,
 172253,
 172233,
 172229,
 172215,
 172013,
 171917,
 171891,
 171867,
 171811,
 171765,
 171763,
 171759,
 171751,
 171749,
 171701,
 171695,
 171631,
 171495,
 171251,
 171023,
 171011,
 170993,
 170957,
 170945,
 170939,
 170937,
 170907,
 170897,
 170875,
 170837,
 170827,
 170817,
 170813,
 170777,
 170705,
 170697,
 170597,
 170551,
 170411,
 170401,
 170399,
 170357,
 170355,
 170297,
 170289,
 169992,
 169984,
 169982,
 169958,
 169912,
 169904,
 169670,
 169180,
 169034,
 168846,
 168712,
 168632,
 168612,
 168608,
 168492,
 168456,
 168418,
 168366,
 168358,
 168350,
 168326,
 168266,
 168254,
 168252,
 168250,
 168248,
 168218,
 168174,
 168144,
 168090,
 168026,
 167854,
 167790,
 167772,
 167746,
 167732,
 167706,
 167634,
 167570,
 167538,
 167380,
 167370,
 167296,
 167064,
 167036,
 167018,
 166946,
 166705,
 166643,
 166635,
 166568,
 166558,
 166534,
 166528,
 166526,
 166492,
 166461,
 166291,
 166203,
 166183,
 166024,
 166015,
 165969,
 165959,
 165947,
 165843,
 165671,
 165645,
 165639,
 165635,
 165551,
 165549,
 165529,
 165489,
 165483,
 165347,
 165343,
 165139,
 165103,
 165101,
 165075,
 164917,
 164909,
 164881,
 164753,
 164707,
 164655,
 164647,
 164540,
 164375,
 164367,
 164280,
 164226,
 164200,
 164179,
 163985,
 163981,
 163937,
 163925,
 163809,
 163653,
 163645,
 163639,
 163527,
 163386,
 163134,
 163112,
 163072,
 163056,
 162982,
 162968,
 162828,
 162606,
 162602,
 162600,
 162598,
 162590,
 162578,
 162478,
 162414,
 162350,
 162344,
 162082,
 161966,
 161922,
 161918,
 161830,
 161634,
 161594,
 161582,
 161580,
 161354,
 161290,
 161131,
 161127,
 161044,
 161032,
 161024,
 161008,
 160980,
 160978,
 160954,
 160872,
 160848,
 160836,
 160730,
 160718,
 160684,
 160646,
 160644,
 160573,
 160571,
 160569,
 160567,
 160565,
 160563,
 160527,
 160440,
 160438,
 160422,
 160400,
 160341,
 160289,
 160271,
 160080,
 159976,
 159858,
 159849,
 159817,
 159811,
 159779,
 159755,
 159717,
 159690,
 159510,
 159441,
 159415,
 159403,
 159193,
 159161,
 159093,
 159077,
 159069,
 159061,
 158972,
 158966,
 158956,
 158882,
 158874,
 158872,
 158842,
 158830,
 158813,
 158783,
 158721,
 158528,
 158402,
 158398,
 158388,
 158254,
 158238,
 158035,
 158027,
 158022,
 157865,
 157775,
 157699,
 157432,
 157407,
 157369,
 157340,
 157312,
 157296,
 157270,
 157200,
 157172,
 157130,
 157122,
 157110,
 157108,
 156783,
 156781,
 156726,
 156706,
 156675,
 156609,
 156607,
 156605,
 156553,
 156387,
 156371,
 156025,
 155892,
 155820,
 155812,
 155774,
 155743,
 155659,
 155589,
 155509,
 155358,
 155288,
 155168,
 155064,
 154975,
 154358,
 154065,
 153408,
 153386,
 153236,
 153070,
 152970,
 152711,
 152658,
 152591,
 152372,
 152284,
 152270,
 152173,
 152105,
 152091,
 152085,
 152083,
 152081,
 152079,
 152077,
 152071,
 152065,
 152063,
 152037,
 151781,
 151777,
 151769,
 151763,
 151759,
 151745,
 151739,
 151695,
 151687,
 151653,
 151559,
 151557,
 151501,
 151479,
 151455,
 151317,
 151315,
 151311,
 150993,
 150696,
 150604,
 150596,
 150554,
 150548,
 150401,
 150254,
 149902,
 149830,
 149612,
 149590,
 149566,
 149508,
 149406,
 149380,
 149354,
 149352,
 149350,
 149334,
 149330,
 149146,
 149144,
 149011,
 148982,
 148978,
 148956,
 148888,
 148881,
 148775,
 148709,
 148675,
 148671,
 148667,
 148652,
 148632,
 148626,
 148592,
 148482,
 148424,
 148238,
 148172,
 148166,
 147936,
 147662,
 147657,
 147410,
 147384,
 147382,
 147380,
 147378,
 147376,
 147374,
 147372,
 147330,
 147328,
 147326,
 147300,
 147286,
 147282,
 147250,
 147196,
 147142,
 147002,
 146986,
 146730,
 146688,
 146684,
 146682,
 146662,
 146656,
 146309,
 146244,
 146210,
 146028,
 146024,
 145994,
 145951,
 145935,
 145839,
 145745,
 145724,
 145491,
 145418,
 145283,
 145150,
 145080,
 144976,
 144734,
 144716,
 144714,
 144620,
 144606,
 144522,
 144478,
 144352,
 144262,
 144222,
 144210,
 143969,
 143896,
 143859,
 143559,
 143525,
 143511,
 143472,
 143458,
 143410,
 143385,
 143367,
 143365,
 143355,
 143257,
 143255,
 143245,
 143031,
 143001,
 142997,
 142961,
 142831,
 142602,
 142598,
 142558,
 142550,
 142536,
 142509,
 142507,
 142488,
 142456,
 142448,
 142444,
 142424,
 142422,
 142420,
 142372,
 142366,
 142222,
 142196,
 142115,
 142074,
 142056,
 142020,
 141994,
 141928,
 141890,
 141866,
 141846,
 141844,
 141836,
 141830,
 141820,
 141818,
 141816,
 141810,
 141799,
 141749,
 141718,
 141688,
 141668,
 141646,
 141544,
 141513,
 141422,
 141408,
 141400,
 141131,
 141004,
 140956,
 140928,
 140852,
 140850,
 140816,
 140737,
 140725,
 140715,
 140711,
 140627,
 140561,
 140541,
 140525,
 140523,
 140481,
 140359,
 140301,
 140289,
 140267,
 140265,
 140247,
 140237,
 140174,
 140162,
 140133,
 140110,
 140038,
 140016,
 139994,
 139915,
 139859,
 139857,
 139855,
 139747,
 139717,
 139655,
 139644,
 139642,
 139640,
 139511,
 139415,
 139385,
 139157,
 139130,
 139052,
 138966,
 138835,
 138798,
 138702,
 138632,
 138610,
 138546,
 138396,
 138210,
 138208,
 138204,
 138186,
 138036,
 137863,
 137859,
 137857,
 137595,
 137517,
 137345,
 137337,
 137218,
 136958,
 136912,
 136864,
 136859,
 136850,
 136840,
 136838,
 136834,
 136816,
 136800,
 136786,
 136778,
 136666,
 136664,
 136654,
 136602,
 136598,
 136564,
 136562,
 136556,
 136540,
 136511,
 136503,
 136471,
 136469,
 136449,
 136447,
 136445,
 136443,
 136359,
 136355,
 136353,
 136341,
 136305,
 136297,
 136024,
 136020,
 136018,
 136016,
 136012,
 135937,
 135887,
 135885,
 135861,
 135815,
 135803,
 135787,
 135777,
 135569,
 135567,
 135536,
 135534,
 135532,
 135518,
 135456,
 135436,
 135288,
 135216,
 135198,
 135143,
 135137,
 135133,
 134881,
 134861,
 134859,
 134853,
 134849,
 134847,
 134808,
 134796,
 134783,
 134775,
 134528,
 134524,
 134515,
 134393,
 134368,
 134334,
 134326,
 134252,
 134248,
 134246,
 134214,
 134184,
 134170,
 134158,
 134130,
 134109,
 134095,
 134041,
 134021,
 134019,
 134004,
 133879,
 133867,
 133832,
 133802,
 133798,
 133782,
 133780,
 133771,
 133716,
 133712,
 133645,
 133545,
 133419,
 133377,
 133365,
 133281,
 133217,
 133195,
 133115,
 132888,
 132800,
 132796,
 132660,
 132618,
 132584,
 132496,
 132488,
 132462,
 132454,
 132424,
 132422,
 132362,
 132335,
 132333,
 132157,
 132153,
 132084,
 132046,
 131934,
 131920,
 131826,
 131796,
 131749,
 131739,
 131724,
 131714,
 131656,
 131610,
 131578,
 131480,
 131439,
 131237,
 131130,
 131104,
 131098,
 131023,
 131013,
 130978,
 130976,
 130970,
 130842,
 130840,
 130686,
 130634,
 130578,
 130576,
 130520,
 130518,
 130498,
 130490,
 130482,
 130452,
 130450,
 130444,
 130087,
 130083,
 130073,
 130052,
 130050,
 129937,
 129779,
 129737,
 129659,
 129657,
 129514,
 129428,
 129397,
 129354,
 129333,
 129313,
 129250,
 129229,
 129011,
 128991,
 128975,
 128968,
 128944,
 128914,
 128908,
 128902,
 128900,
 128852,
 128842,
 128838,
 128832,
 128736,
 128695,
 128620,
 128594,
 128592,
 128542,
 128520,
 128512,
 128488,
 128366,
 128360,
 128197,
 128099,
 128097,
 128089,
 128087,
 127390,
 127323,
 127319,
 127298,
 127212,
 127204,
 127202,
 127198,
 127194,
 127184,
 ...]

In [31]:
import pandas as pd
import ast

# Load both datasets
movies = pd.read_csv("data/movies.csv")
new_movies = pd.read_csv("data/new_movies.csv")

In [32]:
missing = new_movies['title'].isna()

In [34]:
new_movies[missing]

,movieId,tmdbId,adult,backdrop_path,belongs_to_collection,budget,genres,homepage,id,imdb_id,...,release_date,revenue,runtime,spoken_languages,status,tagline,title,video,vote_average,vote_count
624,791,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,...,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN
843,1107,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,...,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN
2141,2851,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,...,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN
3027,4051,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,...,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN
3127,4207,12773.0,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,...,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN
...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...
9603,176329,466986.0,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,...,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN
9634,179135,463612.0,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,...,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN
9651,180263,106035.0,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,...,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN
9690,184257,502892.0,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,...,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN
9702,185135,500609.0,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,...,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN

In [47]:
import pandas as pd
import ast

# Load both datasets
movies = pd.read_csv("data/movies.csv")
new_movies = pd.read_csv("data/new_movies.csv")

# Convert genres column in new_movies to list of dicts if needed
def parse_genre_list(val):
    try:
        return ast.literal_eval(val) if isinstance(val, str) else val
    except:
        return None

new_movies['genres'] = new_movies['genres'].apply(parse_genre_list)

# Merge to get fallback title and genres from movies.csv
merged = new_movies.merge(movies[['movieId', 'title', 'genres']], on='movieId', how='left', suffixes=('', '_source'))

# Fill missing titles
merged['title'] = merged['title'].fillna(merged['title_source'])

# Convert genres string from source into list of dicts: [{'id': 0, 'name': 'Genre'}]
def convert_genres(row):
    val = row['genres']
    
    # If genres is None or NaN
    if val is None or (isinstance(val, float) and pd.isna(val)):
        fallback = row['genres_source']
        if pd.notna(fallback):
            genre_names = [g.strip() for g in fallback.split('|')]
            return [{'id': 0, 'name': name} for name in genre_names]
        else:
            return None

    # If genres is an empty list
    if isinstance(val, list) and len(val) == 0:
        fallback = row['genres_source']
        if pd.notna(fallback):
            genre_names = [g.strip() for g in fallback.split('|')]
            return [{'id': 0, 'name': name} for name in genre_names]
        else:
            return []

    return val


merged['genres'] = merged.apply(convert_genres, axis=1)

# Drop helper columns
merged = merged.drop(columns=['title_source', 'genres_source'])

# Final cleaned DataFrame
# merged.to_csv("cleaned_new_movies.csv", index=False)  # if needed

In [48]:
merged[missing]

,movieId,tmdbId,adult,backdrop_path,belongs_to_collection,budget,genres,homepage,id,imdb_id,...,release_date,revenue,runtime,spoken_languages,status,tagline,title,video,vote_average,vote_count
624,791,NaN,NaN,NaN,NaN,NaN,"[{'id': 0, 'name': 'Documentary'}]",NaN,NaN,NaN,...,NaN,NaN,NaN,NaN,NaN,NaN,"Last Klezmer: Leopold Kozlowski, His Life and ...",NaN,NaN,NaN
843,1107,NaN,NaN,NaN,NaN,NaN,"[{'id': 0, 'name': 'Comedy'}]",NaN,NaN,NaN,...,NaN,NaN,NaN,NaN,NaN,NaN,Loser (1991),NaN,NaN,NaN
2141,2851,NaN,NaN,NaN,NaN,NaN,"[{'id': 0, 'name': 'Adventure'}, {'id': 0, 'na...",NaN,NaN,NaN,...,NaN,NaN,NaN,NaN,NaN,NaN,Saturn 3 (1980),NaN,NaN,NaN
3027,4051,NaN,NaN,NaN,NaN,NaN,"[{'id': 0, 'name': 'Horror'}, {'id': 0, 'name'...",NaN,NaN,NaN,...,NaN,NaN,NaN,NaN,NaN,NaN,Horrors of Spider Island (Ein Toter Hing im Ne...,NaN,NaN,NaN
3127,4207,12773.0,NaN,NaN,NaN,NaN,"[{'id': 0, 'name': 'Action'}, {'id': 0, 'name'...",NaN,NaN,NaN,...,NaN,NaN,NaN,NaN,NaN,NaN,Navy Seals (1990),NaN,NaN,NaN
...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...
9603,176329,466986.0,NaN,NaN,NaN,NaN,"[{'id': 0, 'name': 'Comedy'}]",NaN,NaN,NaN,...,NaN,NaN,NaN,NaN,NaN,NaN,Ari Shaffir: Double Negative (2017),NaN,NaN,NaN
9634,179135,463612.0,NaN,NaN,NaN,NaN,"[{'id': 0, 'name': 'Documentary'}]",NaN,NaN,NaN,...,NaN,NaN,NaN,NaN,NaN,NaN,Blue Planet II (2017),NaN,NaN,NaN
9651,180263,106035.0,NaN,NaN,NaN,NaN,"[{'id': 0, 'name': 'Drama'}, {'id': 0, 'name':...",NaN,NaN,NaN,...,NaN,NaN,NaN,NaN,NaN,NaN,The Shining (1997),NaN,NaN,NaN
9690,184257,502892.0,NaN,NaN,NaN,NaN,"[{'id': 0, 'name': 'Crime'}, {'id': 0, 'name':...",NaN,NaN,NaN,...,NaN,NaN,NaN,NaN,NaN,NaN,Making a Murderer (2015),NaN,NaN,NaN
9702,185135,500609.0,NaN,NaN,NaN,NaN,"[{'id': 0, 'name': 'Crime'}]",NaN,NaN,NaN,...,NaN,NaN,NaN,NaN,NaN,NaN,Sherlock - A Study in Pink (2010),NaN,NaN,NaN

In [37]:
merged.head()

,movieId,tmdbId,adult,backdrop_path,belongs_to_collection,budget,genres,homepage,id,imdb_id,...,release_date,revenue,runtime,spoken_languages,status,tagline,title,video,vote_average,vote_count
0,1,862.0,False,/3Rfvhy1Nl6sSGJwyjb0QiZzZYlB.jpg,"{'id': 10194, 'name': 'Toy Story Collection', ...",30000000.0,"[{'id': 16, 'name': 'Animation'}, {'id': 12, '...",http://toystory.disney.com/toy-story,862.0,tt0114709,...,1995-11-22,394436586.0,81.0,"[{'english_name': 'English', 'iso_639_1': 'en'...",Released,Hang on for the comedy that goes to infinity a...,Toy Story,False,7.969,18889.0
1,2,8844.0,False,/pb0FOvhen6lVcNJ7j9z61gnwvcI.jpg,"{'id': 495527, 'name': 'Jumanji Collection', '...",65000000.0,"[{'id': 12, 'name': 'Adventure'}, {'id': 14, '...",http://www.sonypictures.com/movies/jumanji/,8844.0,tt0113497,...,1995-12-15,262821940.0,104.0,"[{'english_name': 'English', 'iso_639_1': 'en'...",Released,Roll the dice and unleash the excitement!,Jumanji,False,7.237,10783.0
2,3,15602.0,False,/nh9gYaXHTNT9yylX10L9aGqFehy.jpg,"{'id': 119050, 'name': 'Grumpy Old Men Collect...",25000000.0,"[{'id': 10749, 'name': 'Romance'}, {'id': 35, ...",NaN,15602.0,tt0113228,...,1995-12-22,71500000.0,101.0,"[{'english_name': 'English', 'iso_639_1': 'en'...",Released,Still Yelling. Still Fighting. Still Ready for...,Grumpier Old Men,False,6.500,398.0
3,4,31357.0,False,/jZjoEKXMTDoZAGdkjhAdJaKtXSN.jpg,NaN,16000000.0,"[{'id': 35, 'name': 'Comedy'}, {'id': 18, 'nam...",NaN,31357.0,tt0114885,...,1995-12-22,81452156.0,127.0,"[{'english_name': 'English', 'iso_639_1': 'en'...",Released,Friends are the people who let you be yourself...,Waiting to Exhale,False,6.300,173.0
4,5,11862.0,False,/lEsjVrGU21BeJjF5AF9EWsihDpw.jpg,"{'id': 96871, 'name': 'Father of the Bride (St...",0.0,"[{'id': 35, 'name': 'Comedy'}, {'id': 10751, '...",NaN,11862.0,tt0113041,...,1995-12-08,76594107.0,106.0,"[{'english_name': 'English', 'iso_639_1': 'en'...",Released,Just when his world is back to normal... he's ...,Father of the Bride Part II,False,6.237,754.0

In [49]:
merged.to_csv('new_movies.csv', index=False)